test:
  stage: test
  image: python:3.13
  script:
    - echo "machine gitup.uni-potsdam.de login gitlab-ci-token password ${CI_JOB_TOKEN}" >>~/.netrc
    - python3 -m venv .venv && source .venv/bin/activate
    - pip install -r requirements.dev.txt
    - pytest
  tags:
    - zdl
    - build
