name: zdl_nlp
services:
  index:
    image: ${CI_REGISTRY_IMAGE:-docker.zdl.org/zdl/nlp}/index:${CI_COMMIT_REF_SLUG:-latest}
    build:
      context: .
      dockerfile_inline: |
        FROM solr:9
        ADD --chown=8983:8983\
            solr/managed-schema.xml\
            /opt/solr/server/solr/configsets/_default/conf/managed-schema.xml
        CMD ["solr-precreate", "corpora"]
    volumes:
      - index:/var/solr
    ports:
      - "8983:8983"
  nlp:
    image: ${CI_REGISTRY_IMAGE:-docker.zdl.org/zdl/nlp}/nlp:${CI_COMMIT_REF_SLUG:-latest}
    build:
      context: .
  gpt-gateway:
    image: ${CI_REGISTRY_IMAGE:-docker.zdl.org/zdl/nlp}/gpt-gateway:${CI_COMMIT_REF_SLUG:-latest}
    build:
      context: gpt-gateway
    network_mode: host
    environment:
      - "ZDL_NLP_GPT_GW_DEBUG=1"
      - "ZDL_NLP_GPT_GW_API_KEY=${ZDL_NLP_GPT_GW_API_KEY}"
      - "ZDL_NLP_GPT_GW_QUEUE_PASSWORD=${ZDL_NLP_GPT_GW_QUEUE_PASSWORD}"
volumes:
  index:
