{:deps    {org.clojure/data.csv                 {:mvn/version "1.0.1"}
           camel-snake-kebab/camel-snake-kebab  {:mvn/version "0.4.3"}
           io.github.cdimascio/dotenv-java      {:mvn/version "2.2.0"}
           hato/hato                            {:mvn/version "0.9.0"}
           metosin/jsonista                     {:mvn/version "0.3.3"}
           com.taoensso/timbre                  {:mvn/version "6.0.2"}
           io.github.gremid/clj-xml             {:local/root "../../clj-xml"}
           com.fasterxml.woodstox/woodstox-core {:mvn/version "6.5.0"}}
 :aliases {:nlp               {:extra-deps {de.ids_mannheim/KorAP-Tokenizer {:mvn/version "2.2.2"}
                                            com.github.pemistahl/lingua     {:mvn/version "1.2.2"}}}
           :ddc               {:extra-deps {org.clojure/core.async {:mvn/version "1.6.673"}}}
           :sqlite            {:extra-deps {com.github.seancorfield/next.jdbc {:mvn/version "1.3.847"}
                                            org.xerial/sqlite-jdbc            {:mvn/version "3.40.0.0"}}}
           :vis               {:extra-deps {dali/dali     {:mvn/version "1.0.2"}
                                            garden/garden {:git/url "https://github.com/noprompt/garden.git"
                                                           :git/sha "05590ecb5f6fa670856f3d1ab400aa4961047480"}}}
           :build             {:ns-default build
                               :extra-deps {org.clojure/data.csv          {:mvn/version "1.0.1"}
                                            io.github.clojure/tools.build {:git/tag "v0.9.3"
                                                                           :git/sha "e537cd1"}
                                            org.relaxng/jing              {:mvn/version "20181222"
                                                                           :exclusions  [xml-apis/xml-apis
                                                                                         net.sf.saxon/Saxon-HE]}
                                            org.kohsuke.rngom/rngom       {:mvn/version "20100718"}}}
           :clerk             {:extra-deps {io.github.nextjournal/clerk {:mvn/version "0.13.842"}}}
           :nextjournal/clerk {:exec-fn   nextjournal.clerk/build!
                               :exec-args {:index "notebooks/presentation.clj"}}}}
