{:paths   ["src" "java/classes"]
 :deps    {org.clojure/data.csv                            {:mvn/version "1.0.1"}
           camel-snake-kebab/camel-snake-kebab             {:mvn/version "0.4.3"}
           lambdaisland/uri                                {:mvn/version "1.16.134"}
           io.github.cdimascio/dotenv-java                 {:mvn/version "3.0.0"}
           hato/hato                                       {:mvn/version "0.9.0"}
           com.cnuernber/charred                           {:mvn/version "1.034"}
           clj-python/libpython-clj                        {:mvn/version "2.025"}
           metosin/malli                                   {:mvn/version "0.14.0"}
           babashka/fs                                     {:mvn/version "0.5.20"}
           babashka/process                                {:mvn/version "0.5.22"}
           org.babashka/cli                                {:mvn/version "0.8.59"}
           com.taoensso/timbre                             {:mvn/version "6.3.1"}
           com.fzakaria/slf4j-timbre                       {:mvn/version "0.4.0"}
           io.github.gremid/clj-xml                        {:git/sha "05e925830c8974fd76f8b67773e7263634e55e32"}
           com.fasterxml.woodstox/woodstox-core            {:mvn/version "6.5.1"}
           de.ids-mannheim.korap.tokenizer/KorAP-Tokenizer {:mvn/version "2.2.5"}
           com.carrotsearch/langid-java                    {:mvn/version "1.0.0"}
           com.dynatrace.hash4j/hash4j                     {:mvn/version "0.15.0"}
           dali/dali                                       {:git/url "https://github.com/gremid/dali.git"
                                                            :git/sha "75db26ceaffee4eb852dc88796c5edbd99a6567a"}
           garden/garden                                   {:git/url    "https://github.com/noprompt/garden.git"
                                                            :git/sha    "05590ecb5f6fa670856f3d1ab400aa4961047480"
                                                            :exclusions [org.clojure/clojurescript]}}
 :aliases {:build {:ns-default build
                   :extra-deps {io.github.clojure/tools.build {:git/tag "v0.9.6"
                                                               :git/sha "8e78bcc"}
                                babashka/process              {:mvn/version "0.5.22"}
                                com.taoensso/timbre           {:mvn/version "6.3.1"}}}
           :test  {:extra-paths ["test"]}
           :clerk {:extra-paths ["dev"]
                   :extra-deps  {io.github.nextjournal/clerk {:mvn/version "0.15.957"}
                                 org.relaxng/jing            {:mvn/version "20181222"}
                                 org.kohsuke.rngom/rngom     {:mvn/version "20100718"}
                                 xerces/xercesImpl           {:mvn/version "2.12.2"}}
                   :jvm-opts    ["-Xmx8g"]}}}
