beautifulsoup4
conllu
dwdsmor
ebooklib
lingua-language-detector
lxml
git+https://github.com/zentrum-lexikographie/gdex.git@v1.4.0
git+https://github.com/zentrum-lexikographie/spacy-models@v2.2.0
SoMaJo
tqdm
